:root{
    --yellow: #f7c406;
    --blue: #386abb;
    --dark-blue: #1e3b71;
    --red: #D61313;
    --black:#222224;
    --white: #f0f0f0;
    --card-width: 170px;
    --card-height: 200px;
    --num-h-cards: 4;
    --num-v-cards: 4; 
}
*,
*::before,
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
/* start screen */
.start-screen{
    background-image: url("../assets/img/bg_wallpaper.jpg");
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-name_container{
    border: solid 4px white;
    width: 550px;
    height: 250px;
    display: flex;
    align-items: center;
    background: rgba(255,255,255,0.25);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    backdrop-filter: blur(4.5px);
    border-radius: 30px;
    padding: 0 15px 0 15px;
}
.img-container{
    width:  200px;
    height: 200px;
    margin: 5px;
}
.gif{
    width: 100%;
    height: 100%;
}
.nick-name_form{
    width: 300px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#input-name{
    border-style: none;
    border-bottom: 1px solid black;
    text-align: center;
    width: 100%;

}
#input-name:focus{
    outline-style:none;
}
.nick-name_form > *{
    font-size: 2rem;
    margin: 5px;
}
.button-name{
    border-style: none;
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}
/* background */
.bg_wall{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../assets/img/bg_wallpaper.jpg");
    filter: blur(2px);
    z-index: -1;
}

.main{
    padding-top: 25px;
}
/* card design */
.card{
    width:var(--card-width);
    height: var(--card-height);
    position: relative;
    transform-style: preserve-3d;
    transition: transform .3s;
    border: solid 2px black;
    border-radius: 8px;
}

.card--show{
    transform: rotateY(180deg);
}
.card__front,
.card__back{
    backface-visibility: visible;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.card__back{
    background-image:linear-gradient(
        var(--red) 48.5%,
        var(--black) 40.5%,
        var(--black) 52.5%,
        var(--white) 52.5%
        ) ;
}
.card__back::before{
    content: '';
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: var(--white);
    border: 7px solid var(--black);
    border-radius: 50%;
}
.card__img{
    min-width: 100%;
    min-height: 100%;
}
.card__front{
    background-color: lightblue;    
    transform: rotateY(180deg);
    pointer-events: none;
}

/* card set content */

.cards-container{
    width: calc(var(--card-width)*4 + (5px * var(--num-v-cards)));
    height: calc(var(--card-height)*3 + (5px * var(--num-h-cards)));
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
    margin: 0 auto;
}

#gif-container{
    display: flex;
    position: absolute;
}
.hidden{
    display: none;
}